/* css styles */

* {
  /* --background: rgb(251,250,226); */
  --background: rgb(255,255,255);
  --white: rgb(255,255,255);
  --dark: rgb(100,100,100);
  --purple: rgb(41,54,93);
  --link: rgb(0,100,255);
  /* --primary: rgb(126,232,151); */
  --primary: rgb(230,230,230);
  --normal-button: rgb(230,230,230);
  --normal-button-text: rgb(0,0,0);
  --hover-button: rgb(60,60,60);
  --hover-button-text: rgb(230,230,230);

  --h1:48px;
  --h2:32px;
  --h3:28px;
  --h4:24px;
}

/* ======   SITE-WIDE   ===== */

body, p {
  font-family: Tahoma, Arial, sans-serif;
}
h1 { font-size: var(--h1); }
h2 { font-size: var(--h2); }
h3 { font-size: var(--h3); }
h4 { font-weight: bold; margin-top: 0px; font-size: var(--h4); }

/* =====    MENU    ===== */

.menu-text {
    display: flex;
    align-items: center;
}
.sidebar-item-container a.sidebar-item-text {
    padding: 8px 16px 8px 16px;
    border-left: 2px solid rgb(230,230,230);
}
.sidebar-item-container a.sidebar-item-text.active {
    background-color: rgb(235,235,235);
}
.nav_icon {
    padding-right: 4px;
    margin-right: 4px;
    width: 32px;
}

/* =====    LIST ITEMS ===== */

.no_bullets {
    list-style-type: none;
    padding-left: 0;
}
ul.collapsed, ol.collapsed {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 6px;
    column-gap: 8px;
}
ul.collapsed li,
ol.collapsed li {
    display: inline-block;
    width: max-content;
    flex-shrink: 0;
    white-space: nowrap;
}
ul.collapsed:last-child,
ol.collapsed:last-child {
    margin-bottom:0;
}

ul.with_icons > li,
ul.inline_icons > li,
ol.with_icons > li,
ol.inline_icons > li,
ul.with_imgs > li,
ol.with_imgs > li {
    display:flex;
    flex-direction: row;
}

ul.with_icons > li img:first-child,
ul.inline_icons > li img:first-child,
ol.with_icons > li img:first-child,
ol.inline_icons > li img:first-child {
    display: inline-block;
    margin-right:8px;
}


ul.inline_icons > li img:first-child,
ol.inline_icons > li img:first-child {
    height: calc(1em + 8px);          /* match font size */
    vertical-align: middle; /* tweak alignment */
    background-color: #f0f0f0;
    border: 2px solid #1414141a;
    border-radius: 50%;
    padding: 4px;
}

ul.with_imgs > li img:first-child,
ol.with_imgs > li img:first-child {
    display:inline-block;
    margin-right:16px;
    width:150px;
    flex-basis:150px;
    flex-shrink:0;
    flex-grow:0;
    align-self:flex-start;
    border:1px solid black;
}



/* =====    TEXT MODS   ===== */

.boxed-text, 
.blue-boxed-text,
.button-text {
    display:inline-block;
    padding:0.25em 0.35em;
    border: 1px solid black;
    border-radius: 8px;
}
.blue-boxed-text {
    background-color: blue;
    color: white;
}
.button-text {
    background-color: var(--normal-button);
    color: var(--normal-button-text);
    text-decoration:none;
}
.button-text:hover {
    cursor:pointer;
    background-color: var(--hover-button);
    color: var(--hover-button-text);
}




/* =====    QUARTO OVERWRITES   ===== */

.sidebar {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.nav-sidebar {
  padding-left: 0 !important;
}
body.nav-fixed .page-content {
  padding-left: 0 !important;
}

.quarto-layout-row {
    align-items: stretch;
}
.quarto-layout-row > section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.quarto-layout-row > section > *:last-child {
    flex: 1;
}