.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    gap: 1.2rem;
    margin-top:32px;
}

.portfolio_item_contents {
    position:relative;
    width:160px;
    height:auto;
    text-align:center;
}

.portfolio_item_thumbnail {
    position:relative;
    width:160px;
    height:160px;
    /* box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2); */
    padding:16px;
    margin-bottom:6px;
    box-sizing: border-box;
    border-radius: 80px;
    border: 1px solid rgba(0,0,0,0.25);
    /* transition: box-shadow 0.25s ease-in-out; */
    transition: border 0.25s ease-in-out;
    overflow:hidden;
}

.portfolio_item_thumbnail > img {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width: 100%;
    max-height: 100%;
}

.portfolio_item_contents > h3 {
    margin: 0px;
    font-size: 12px;
    text-align: center;
}
.portfolio_item_contents > p {
    color: var(--link);
    font-size: 11px;
    font-style: italic;
}


.portfolio_item_contents:hover {
    text-decoration: underline;
}
.portfolio_item_contents:hover .portfolio_item_thumbnail {
    /* box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5); */
    border: 1px solid rgba(0,0,0,0.75);
}